# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# dependencies
node_modules

# next.js
.next

# build
dist
build

# misc
.DS_Store

# WhatsApp Sessions
sessions/
*.session.json